.header {
  min-height: 100vh;

  @extend %center-middle-content;

  animation: fadeIn;
  animation-duration: 1s;

  .navbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr repeat(2, 100px);

    padding: 5vh 5vw 5vh 5vw;

    .nav-left { text-align: left; }
    .nav-right { text-align: right; }

    button {
      position: relative;
      width: auto;
      color: $light-font-color;
      background-color: transparent;
      cursor: pointer;
      border: none;
      outline: none;

      .bra, .ket {
        position: absolute;
        top: 5px;

        opacity: 0;
        transition: 0.25s;
        color: $header-accent-color;

        font-size: 2rem;
        pointer-events: none;
      }
      .bra { left: -1rem; }
      .ket { right: -1rem; }

      &:hover { .bra { left: -1.8rem; opacity: 1; } }
      &:hover { .ket { right: -1.8rem; opacity: 1; } }
    }
  }

  .content {
    width: 80vw;
    @media (max-width: 549px) { text-align: center; }
    @media (min-width: 550px) { text-align: left; }

    .title { color: $light-font-color; }
    .subtitle { color: $header-secondary-color; }
  }
  .triangle { @include triangle($header-triangle-background-color); }
}
