%flex-column { display: flex; flex-direction: column; }

%center-content { @extend %flex-column; align-items: center; }

%middle-content { @extend %flex-column; justify-content: center; }

%center-middle-content {
  @extend %flex-column;

  justify-content: center;
  align-items: center;
}

%background-grad {
  background: linear-gradient(90deg,#706cf5, #3294bd, #706cf5);
  background-size: 150% 150%;

  animation: GradAnimation 1s ease infinite;

  @keyframes GradAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
